<.flash_group flash={@flash} />
<%= if is_nil(@current_account) do %>
  <a href={~p"/accounts/log_in"} class="hover:underline block">Login</a>
  <a href={~p"/accounts/register"} class="hover:underline block">Register</a>
<% else %>
  <a href={~p"/todo"} class="hover:underline">Click here for TodoApp</a>
<% end %>